<!-- <div class="container">
<div class="card set-lr mt-3">
  <div class="pt-2 mx-auto"><button class="btn btn-primary" (click)="doSearch()">Search</button><button class="btn btn-success ms-3" (click)="doAdd()">Add</button></div>
  <app-todo-search *ngIf="toggleSearch" (onSearch)="searchTodo($event)"></app-todo-search>
  <app-todo-input *ngIf="!toggleSearch" (onAdd)="addTodo($event)"></app-todo-input>
  <app-todo-list [todoArr]="listArr" [searchKey]="searchText" [flag]="toggleSearch" (onDelete)="deleteTodo($event)"></app-todo-list>
</div>
</div> -->

<app-sender></app-sender>
<app-reciever></app-reciever>